body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.navbar-and-header {
  background: url(src/assets/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 700px;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  min-width: 376px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.subtitle {
  text-align: center;
}

.arrow-down {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
}
